body {
  font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1; /* Sit on top */
  /* Location of the box*/
  padding-top: 1.5em;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--grey); /* Fallback color/grey overlay */
  background-color: var(--grey); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  border: 0.1em var(--grey);
  margin: 1em;

  height: 100%;
  text-align: center;
  align-content: center;
}
/* styling of inividual choices */
.modal-content .form-control {
  border-block: 0.2em var(--purple) solid;
  border-left: 0.2em var(--purple) solid;
  border-right: 0.2em var(--purple) solid;
  padding: 1em;
  margin: 1em;
}
fieldset {
  background-color: #fefefe;
  border: 0.1em solid #888;
  margin: 0.5em;
}
legend {
  margin: auto;
}

/* The Close Button */
.close {
  color: var(--grey);
  float: right;
  font-size: 2em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*small texts */
.disclaimer {
  font-size: 0.5em;
}
/* colors */
.purple {
  color: var(--purple);
}
.pink {
  color: var(--pink);
}
/* heading */
.more {
  font-size: 1em;
  background-color: var(--grey);
  padding: 2em;
}

/* radio inputs as in danny vinther's codepen


*/
.form-control:hover,
.form-control:focus-within {
  transform: translateY(-3px);
}
*/ input[type="radio"]:checked:before {
  content: "";
  grid-area: 1 / 1;
  background: currentColor;
  border-radius: inherit;
}

.radioinputs {
  display: grid;
}
.form-control:hover,
.form-control:focus-within {
  border-color: var(--pink);
}
label:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #bbb;
  z-index: -10;
}
.gotobasket {
  margin: auto;
  margin-top: 2em;
}
p {
  pointer-events: none;
}
