@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

* {
  box-sizing: border-box;
  --purple: #68228b;
  --grey: rgba(156, 73, 73, 0.345);
  --pink: #c4275e;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*      HEADER AREA      */
.burger-menu span {
  display: block;
  height: 5px;
  width: 30px;
  background-color: var(--purple);
  margin: 8px;
}

nav img {
  width: 180px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 5px;
  margin-bottom: 15px;
}

.separator {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.subheader {
  font-size: 12px;
  line-height: 14px;
  color: var(--purple);
  text-align: center;
  margin-top: 15px;
  font-weight: 100;
}

.subheader p {
  display: inline-block;
}

.subheader p:nth-of-type(1) {
  margin-right: 15px;
}

.dot {
  height: 8px;
  width: 8px;
  border: 1px var(--purple) solid;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

/*      BUTTON STYLING       */

.main-btn {
  background-color: var(--purple);
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  width: 150px;
  padding: 10px 0;
}
