* {
  box-sizing: border-box;
  --purple: #68228b;
  --grey: #cfcecc;
  --pink: #c4275e;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media all and (min-width: 420px) {
  body {
    padding: 20%;
    padding-top: 0;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 2s;
  }
}
/*      HEADER AREA      */

.burger-menu span {
  display: block;
  height: 5px;
  width: 30px;
  background-color: var(--purple);
  margin: 8px;
}

nav img {
  width: 180px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 5px;
  margin-bottom: 15px;
}

.separator {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.subheader {
  font-size: 12px;
  line-height: 14px;
  color: var(--purple);
  text-align: center;
}

.subheader p {
  display: inline-block;
}

.dot {
  height: 10px;
  width: 10px;
  border: 1px var(--purple) solid;
  border-radius: 50%;
  display: inline-block;
}

/*      MAIN - BASKET     */

.main-btn-basket {
  padding: 20px 10px;
  background-color: var(--purple);
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  width: 150px;
}

.checkout-panel {
  margin-top: 5%;
  padding: 10px;
}
.checkout-panel button {
  width: 100%;
}

.step {
  display: inline-block;
  margin: 10px;
  color: #a0a0a0;
}
.progress-bar {
  text-align: center;
  background-color: var(--grey);
}
.active-basket {
  color: var(--pink);
}
h2.basket-title {
  text-align: center;
  margin-top: 2%;
  padding: 5%;
}

img.basket-img {
  width: 100%;
  margin: auto;
}
.basket-heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 3px solid var(--purple);
  padding: 1em;
}
.basket-text {
  margin: auto 10px;
}
.basket-items {
  text-align: left;
  line-height: 2em;
  padding: 10px;
  list-style: none;
}
.basket-price {
  float: right;
  /* list-style: circle; */
  list-style: none;
}
.basket-price-sum {
  text-align: center;
  color: var(--pink);
  padding: 1em;
}
#basket-form input {
  width: 100%;
}

textarea {
  width: 100%;
}

form {
  /* position: relative; */
  width: 100%;
  padding: 10px 0;
  background: transparent;
}
.terms-conditions {
  display: grid;
  grid-template-columns: 10% 85%;
  text-align: justify;
}

/* label {
  font-size: 0.75rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 3fr;
} */

input[type="text"],
textarea {
  padding: 20px 10px;
  background: transparent;
  font-size: 0.75rem;
  width: 100%;
  resize: none;
  font-weight: 400;
  -webkit-appearance: none;
  outline: none;
  transition: all 0.25s ease;
  margin-bottom: 10px;
}
input[type="checkbox"] {
  margin: 10px;
}
input[type="radio"] {
  margin: 10px;
  background: transparent;
  transition: all 0.25s ease;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--purple);
}

input:focus {
  background-position-x: calc(100% - 16px);
  background-position-y: 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  /* color: currentColor; */
}
input {
  border: 2px solid rgba(0, 0, 0, 0.11);
}
.basket-divide {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.radio-basket-box {
  border: 2px solid rgba(0, 0, 0, 0.11);
  padding: 1em;
  margin: 10px;
}

.payment {
  color: pink;
}
img.icon-basket {
  width: 70px;
  float: right;
  padding: 0.5em;
}
.conditions-basket {
  margin-left: 10px;
  /* list-style: none; */
}
fieldset {
  padding: 10px;
  text-align: center;
}

.box-1 {
  display: inline-block;
  /* animation: fadeInFromNone 1s ease-out; */
}
/* .box-2 {
  display: none;
}
.box-3 {
  display: none;
} */

legend.basket {
  padding: 5px;
  font-weight: 800;
  color: var(--purple);
}
fieldset.basket {
  border: 3px solid var(--purple);
  margin-top: 2em;
}

fieldset.basket > .basket-heading {
  border: none;
  grid-template-columns: 1fr 3fr;
}
ul.conditions-basket {
  padding-top: 1em;
  text-align: justify;
}

ul.conditions-basket li {
  padding-bottom: 10px;
  margin-left: 2em;
  margin: 4%;
}

.hide {
  display: none;
}

.fadeOut {
  animation: fadeout 0.7s forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
}
.hero {
  position: relative;
}

.hero:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 20px var(--grey);
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
}
/* radio inputs as in danny vinther's codepen
*/
.form-control:hover,
.form-control:focus-within {
  transform: translateY(-3px);
}
*/ input[type="radio"]:checked:before {
  content: "";
  grid-area: 1 / 1;
  background: currentColor;
  border-radius: inherit;
}

.radioinputs {
  display: grid;
}
.form-control:checked {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.0001),
    0 4px 6px -2px rgba(0, 0, 0, 0.00001);
  transition: 0.25s box-shadow, 0.25s transform;
  will-change: transform, box-shadow;
}
.form-control:hover,
.form-control:focus-within {
  box-shadow: 5px 5px 10px 1px var(--grey);
}
label:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #bbb;
  z-index: -10;
}
.gotobasket {
  margin: auto;
  margin-top: 2em;
}
p {
  pointer-events: none;
}
.pinkclose {
  height: 1em;
  position: relative;
  margin: 1em;
}
.bigjacket {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2em;
  width: 40%;
}
/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* IMAGE STYLES */
[type="radio"] + div > img {
  cursor: pointer;
  opacity: 0;
}
/* CHECKED STYLES */
[type="radio"]:checked + div {
  border-color: var(--pink);
}
[type="radio"]:checked {
  box-shadow: 5px -7px 5px 0px var(--pink);
}
[type="radio"]:checked + div > img {
  opacity: 100;
}
.greendash {
  height: 2em;
  position: relative;
  pointer-events: none;
}
.circle {
  width: 2.2em;
  height: 2.2em;
  border-color: var(--grey);
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  position: relative;
  pointer-events: none;
  margin: 0;
  order: -1;
}
.form-control > img {
  height: 1.5em;

  justify-self: end;
}
.form-control {
  border-block: 0.2em var(--grey) solid;
  border-left: 0.2em var(--grey) solid;
  border-right: 0.2em var(--grey) solid;
  padding: 1em;
  margin: 1em;

  display: grid;

  grid: auto / 1fr minmax(1rem, auto) 1fr;
}
