* {
  box-sizing: border-box;
  --purple: #68228b;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*      HEADER AREA      */

.burger-menu span {
  display: block;
  height: 5px;
  width: 30px;
  background-color: var(--purple);
  margin: 8px;
}

nav img {
  width: 180px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 5px;
  margin-bottom: 15px;
}

.separator {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.subheader {
  font-size: 12px;
  line-height: 14px;
  color: var(--purple);
  text-align: center;
}

.subheader p {
  display: inline-block;
}

.dot {
  height: 10px;
  width: 10px;
  border: 1px var(--purple) solid;
  border-radius: 50%;
  display: inline-block;
}
